/* Inverter cores da table striped (bootstrap) */
#enderecos.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: #ffffff;
}

#enderecos.table-striped > tbody > tr:nth-child(even) > td {
  background-color: rgba(0, 0, 0, 0.05);
}

.table > :not(:first-child) {
  border-top: 0;
}

#listarPessoas.table.table-striped.table-hover > :not(:first-child) {
  border-top: 2px solid currentColor;
}
